non_hierarchical/models/cutoffClass_1/setB/w.epoch-0264_val_loss-0.163483.hdf5
non_hierarchical/models/cutoffClass_1/setA/w.epoch-0693_val_loss-0.138357.hdf5
non_hierarchical/models/cutoffClass_2/setA/w.epoch-0473_val_loss-0.124818.hdf5
non_hierarchical/models/cutoffClass_3/setB/w.epoch-0141_val_loss-0.175573.hdf5
non_hierarchical/models/cutoffClass_3/setA/w.epoch-0084_val_loss-0.175408.hdf5
non_hierarchical/models/cutoffClass_2/setB/w.epoch-0462_val_loss-0.138809.hdf5
